@import "variables.styl";
@import "grid.styl";
// @import "fonts.styl";
@import "typography.styl";
@import "utils.styl";

:root{
    --blue-title-section: #314559;
    --gray-title-section: #797979;
}


//Set default print for desktop to be a little bigger than mobile
// @page {
//     size: 330mm 427mm;
//     margin: 14mm;
// }
